/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');

/* Merge Logo */
.logo {
    width: 100px;
    height: 100px;
}

h1 {
    font-family: 'Martian Mono', monospace;
    text-align: center;
    font-size: 50px;
    color: #f00505ff;
}

/* grid inspired by Learn JS by building 7 games video */
.game-area {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 1000px;
    background-color: #e0e0e0;
    margin: auto;
    border: 3px solid #ffb01fff;
    padding: 10px;
}

/* grid inspired by Build Your Own Memory Card Game tutorial */
.card-area {
    display: grid;
    justify-content: center;
    grid-gap: 15px;
    grid-template-columns: repeat(6,140px);
    grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

/* Score area */
.score-area p {
    color: #4ecc00ff;
}